<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!--static 追加 css変更-->
</head>

<header>
    <div style="background:#3E4B7B; height: 200px; width: 100%;">
            <a href="/" style="color: #ffee51; font-size: 64px; margin: 0 auto; ">迷ったら、ポジ☆ぴよ！</a>
            <a href="/" style="color: #FFFFFF; font-size: 20px;">お問い合わせはこちら</a>
    </div>
</header>

<body>
    <!--<div style="background: #FFFFFF; height: 500px; width: 100%;"></div>-->
    
    
    
    {% block content %}
    {% endblock %}
    
</body>
<footer style="background:#3E4B7B; height: 150px; width: 100%;">
    <a href="/childcare" style="color: #FFFFFF;font-size: 28px;">子育て編</a>
    <a href="/business" style="color: #FFFFFF;font-size: 28px;">ビジネス編</a>
    <a href="/funny" style="color:#FFFFFF;font-size: 28px;">面白変換</a>
    <a href="/" style="color: #FFFFFF;font-size: 28px;">HOME</a>
</footer>
</html>