<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <div style="background:#3E4B7B; height: 200px; width: 100%;">
        <a href="/" style="color: blanchedalmond; text-decoration: none; font-size: 64px; margin: 0 auto; ">ポジ変換</a>
        <a href="/" style="color: blanchedalmond;font-size: 20px;">お問い合わせはこちら</a>
    </div>
</header>

<body style="background: #FFFFFF;">
    {% block content %}
    {% endblock %}
    
    <!-- <p style="width: 100%;color: white;background-color: black;">ここはヘッダーです</p>
    <button onclick="location.href='/'">top </button>
    <button onclick="location.href='/template'">あいさつ </button>
    <button onclick="location.href='/mypage'">マイページ </button>
    <button onclick="location.href='/sunabaco'">すなばこ </button> -->
</body>
<footer style="background:#3E4B7B;">
    <a href="/childcare" style="color: blanchedalmond;">子育編</a>
    <a href="/business" style="color: blanchedalmond;">ビジネス編</a>
    <a href="/funny" style="color: blanchedalmond;">面白変換</a>
    <a href="/" style="color: blanchedalmond;">HOME</a>
</footer>
</html>