{% extends "base.html" %}
{% block content %}
<div style="background-image: url(https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG6CX7bFaQ6O-4GUHsIE4EGzRzdSJGFUb5DD_DLHiMnaPk0i8lMYmeL-eRAJ_7_kjnWe_9110cUnRihIu62LVDOCcObmwH-Hlv526jaTcX-A07M8wm2RDU82vmIFN1Pv4RYVsWppXN31FUKYPTlY68-0UMdFe7X7o07KLkKqviYPiGk7Z1olRbzJnj0EY3vHGY9C2ZlCGl1VFF3B4GHuNc1wK06R2Feg7ezIx351rjXDZFPQhBrVe5j04Kna6BA9-GTJIOhBsnQJ6WGDHLa9lot2DZNRaifXhNCs_BugWVA5o/dbbd66444eadb01f6f06ae77c6b83a85.jpg); height: auto; width: auto;padding: 5%;">
    <main style="background-color: #ffffff; opacity: 0.8; height: auto; width: 100%;">
        <h1 style="font-size: 70px; text-align: center; margin-bottom: 5px;  margin-top: 20px;">～ビジネス編～</h1>
        <p style= "font-size: 30px; text-align: center; margin: auto;">
            <br>人見知り	⇒ 自分の世界を持っている
            <br>大人しい	⇒ 	落ち着いて相手や場所を持っている
            <br>我慢ができない	⇒ 	行動力がある
            <br>消極的 	⇒ 	周りをサポートする力を持っている
            <br>臆病	⇒ 	用意周到、あらゆる可能性をもっている
            <br>キモイ	⇒ 	存在感がある
            <br>媚びを売らない	⇒ 	プライドを持っており、自分よりも上の者に媚びへつらうことがない
            <br>諦めが悪い	⇒ 	粘り強い、集中力が悪い
            <br> 威張っている	⇒ 	自信に満ちている、肝が座った
            <br>おしゃべり		⇒  社交的な、明るい
            <br>おっとりした	⇒ 	マイペースな、自分を持っている
            <br>おせっかい	⇒ 	面倒見がよい
            <br>にぶい	⇒ 	周りに流されず、自分のペースを保てる
            <br>引っ込み思案	⇒ 	相手の気持ちを把握することができる
            <br>要領が悪い	⇒ 	目の前の作業に没頭できる
            <br>言う事を聞かない	⇒ 	自分で考えるのが好き
            <br>臆病	⇒ 	用意周到、あらゆる可能性を考えられる
            <br>意見が言えない	⇒ 	人の気持ちを考える事ができる
            <br>キモイ	⇒ 	存在感がある 個性がある ミステリアス
            <br>飽きっぽい	⇒ 	好奇心旺盛
            <br>威張っている	⇒ 	自信に満ちた、肝が座った</p>
    </main>
</div>


{% endblock %}