{% extends "base.html" %}
{% block content %}
<div style="background-image: url(https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG7s6XIz6WzUM9mMsixYxaAusUx8TA0uLAHGqfYpuwWichXwyjz_9VyV95NolRUUY5qRCB2HhNPOXKWoPVzM8Wxk0idc5mZKXG6TchZ1mrIK3VCZeuhFpi5pnX03XDWMLqZus43yUk384p0ZspYw_U414mB9MmfoBhc60JHBGZeX7-VlKlAAafPFrAbKazSrbR6Hll4SCJcE7Y1UdF1ESWhJITxJJJ-p2b4Beos0RBmj_cJcGsYPuLSGxrmjkhyGiE06iGLFVDBcyiU9DPcpy9_XNmjZGvpQ4oqXAGHMJpiOe/chick-seamless-pattern-background-vector-id1184107457); height: auto; width: auto;padding: 5%;">
    <main style="background-color: #ffffff; opacity: 0.9; height: auto; width: 100%;">
        <h1 style="font-size: 70px; text-align: center; margin-bottom: 5px;  margin-top: 20px;">～子育て～</h1>
            <p style="font-size: 30px; margin: auto; text-align: center;">
                <br>早くお風呂でなさい	⇒ 夕飯はカラアゲだよ		
                <br>（失敗した時）あーあ、もう！	⇒ 	雑巾で拭けば大丈夫だよ（対処法を）		
                <br>人見知り	⇒ 	自分の出会を持っている		
                <br>消極的	⇒ 	周りをサポートする力を持っている		
                <br>わがまま	⇒ 	自分の感情を素直に表現できる		
                <br>意見が言えない	⇒ 	人の気持ちを考える事ができる				
                <br>あー、また汚して	⇒ 	汚れたら、お掃除しようね、大丈夫！		
                <br>じっと座っていられない	⇒ エネルギーにあふれている。好奇心が旺盛		
                <br>ミスが多い、不注意、集中してない、そそっかしい	⇒ 考える事が好き、前に進む意欲がある		
                <br>生意気、口答えばっかり	物おじしない	⇒  自己主張できる		
                <br> 引っ込み思案	思慮深い、感受性豊か ⇒ 人の気持ちを考える事ができる</p>
    </main>
</div>




{% endblock %}
