{% extends "base.html" %}
{% block content %}
<div style="background-image: url(https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG4EMeEH12zvnqdMLuEX8hZRfjNHRNDWf98HprrqhPSXcnmrD3Q-Ln-IhXQAc3wY-uWyLgmhKuQS0M3Zon2ielNUqu9tcu3SBje_KyOmP-LgsrtvQGdN0sJvM-MC0TacXuA2Ycm_Zx_TOBZLXvYlpOYV-rdmS-JDkd7d-jpzP83NdrUQq5idtFyJSRwtOGRd2haodCAXMu753lrdkTz3p-Lt_-AMj9YAk-oefE6wCgrdUtXuyuKjA6tc-TiqChUj_g_WAzgenNmvh6r_uHynO9bI=/450-20160223162659143407.jpg); height: 430px; width: 100%; text-align: center;">
    <p style="font-size: 60px; font-weight: 700;text-shadow: 3px 3px 3px yellow;">御意見ありがとうございます！</p>
    <!--<img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG4EMeEH12zvnqdMLuEX8hZRfjNHRNDWf98HprrqhPSXcnmrD3Q-Ln-IhXQAc3wY-uWyLgmhKuQS0M3Zon2ielNUqu9tcu3SBje_KyOmP-LgsrtvQGdN0sJvM-MC0TacXuA2Ycm_Zx_TOBZLXvYlpOYV-rdmS-JDkd7d-jpzP83NdrUQq5idtFyJSRwtOGRd2haodCAXMu753lrdkTz3p-Lt_-AMj9YAk-oefE6wCgrdUtXuyuKjA6tc-TiqChUj_g_WAzgenNmvh6r_uHynO9bI=/450-20160223162659143407.jpg" 
    width= "400px" height="300px" alt="ひよこ" title="万歳" >-->
</div>


{% endblock %}