{% extends "base.html" %}
{% block content %}

<div style="background-image: url(https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG4BnHQ0tsXWUF93DgZDpvMbDORc5XnTOqIatlzXEs5_rQ11PomZDPgjyvbrE1QoUw-zPMJtkQ1PNr5iBTdT7-EWFbFqaVzd9RVCmD05WOvPtFDHRXu1-6NOyi5Cqr4mD4hpO2daJUW8yZ49BGN7xxmMbHi4Xom9OtPvxsslwdmp_heGRf4p1DAvu0Bgt5rSmc9P11Sforg7JKGVWiUkqpatnL9065RaDOC-9moV8mtk8g2TUWon14TQrPwboFlQOaA==/61886192.jpg); height: auto; width: auto;padding: 5%;">
    <main style="background-color: #ffffff; opacity: 1; text-align: center; height: auto; width: 100%;">
        <h1 style="font-size: 70px;">～面白変換 オリジナル～</h1>
            <p style="font-size: 50px; color: black; margin: auto;">  
                <br>☆劣等感MAXの貴方へ☆ 
                <br>
                <br>↓
                <br>
            </p>
            <p style="font-size: 50px; color: rgb(127, 6, 175); ">    
                <br>ウケ狙いで１等賞になりましょう！！！</p>
                <br>
                <br>
                <br>
            <a href="https://twitter.com/sunabaco8246" style= "font-size: 60px; font-weight: 500; color: rgb(37, 9, 104);">～～～オマケ【SUNABACO八代編】～～～</a>
                <br>
                <br>
            <p style="font-size: 50px; color: black;" >
                ☆☆人生どーでもよくなった貴方へ☆☆
                <br>
                <br>↓
                <br>↓
                <br></p>
            <p style="font-size: 50px; color:  rgb(230, 8, 119);" > 
                <br>女装してタカchan先生と張り合ってみましょう^^
                <br>違った意味で眠っていたやる気が湧き上がってきます（カモ！？）
                <br></p>
            <p style="font-size: 50px; color: black;" >   
                <br>☆☆☆プログラミングが出来なくて夜も眠れない貴方へ☆☆☆
                <br>
                <br>↓
                <br>↓
                <br>↓
                <br>↓
                <br>↓
            </p>
            <p style="font-size: 70px; font-weight: 700; color: rgb(245, 20, 20);" >  
                出来なくても大丈夫！！ 開き直りましょう（^^￥）
            </p>
            <a href="https://sunabaco.com/schools/yatsushiro/" style= "font-size: 70px; font-weight: 500; color: rgb(245, 20, 20);">で！こちらのSUNABACO八代へどうぞ^^
            </a>
                <br>
    </main>
</div>



{% endblock %}
