{% extends "base.html" %}
{% block content %}



<p>日々の暮らしに潤いを</p>
<p>チョットした変換でいつもの言葉を</p>
<p>喜び言葉に変換してみませんか？</p>

<div>
    <a href="/childcare"><img src="https://images.unsplash.com/photo-1484665754804-74b091211472?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9
    " style="width: 200px; height: 200px;"  alt="子育て編"></a>

    <a href="/business"><img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9
    " style="width: 200px; height: 200px;"  alt="ビジネス編"></a>
    
    
    <a href="/funny"><img src="https://images.unsplash.com/photo-1588621332104-5e128b074d51?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjYzNDZ9 
    " style="width: 200px; height: 200px;"  alt="面白変換"></a>
</div>
{% endblock %}
